<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{ pageTitle }}</title>
        <meta name="description" content="{{ pageDescription }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="{{baseUrl}}styles/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{baseUrl}}styles/bootstrap-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{baseUrl}}styles/jquery-ui.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{baseUrl}}styles/jquery-ui.theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{baseUrl}}styles/style.css"/>
    </head>
    <body>
        {{> nav }}
        {{#if header}}
            {{> header header }}
        {{/if}}
    	<div class="main container">
            {{{ body }}}
        </div>
        <script src="{{baseUrl}}js/jquery.min.js"></script>
        <script src="{{baseUrl}}js/jquery-ui.min.js"></script>
        <script src="{{baseUrl}}js/bootstrap.min.js"></script>
    </body>
</html>