<div class="input-form-wrapper">
	{{#if errors}}
		<div class="alert alert-danger" role="alert">
			<ul>
				{{#each errors}}
					<li>{{this}}</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}
	<form action="{{baseUrl}}{{model.url}}{{#if presetData.id}}/{{presetData.id}}{{/if}}" method="POST">
		{{#if presetData.id}}
			<input type="hidden" name="method" value="PATCH" />
		{{/if}}
		{{#each model.fields }}
			{{#if this.model }}
				<div class="form-group">
					<label {{#if this.non_required}}class="non-required"{{/if}}>
						{{this.display}}
						<select class="form-control" name="{{this.name}}">
							{{#each this.items}}
								<option value="{{this.id}}" {{#if this.preselected}}selected="selected"{{/if}}>{{this}}</option>
							{{/each}}
						</select>
					</label>
				</div>		
			{{else}}
				<div class="form-group">
					<label {{#if this.non_required}}class="non-required"{{/if}}>{{this.display}}
							<input class="form-control" type="{{this.type}}" name="{{this.name}}" {{#if ../presetData}} value="{{lookup ../presetData this.name}}" {{/if}} {{#if this.placeholder}} placeholder="{{this.placeholder}}" {{/if}}/>
					</label>
				</div>
			{{/if}}
		{{/each}}

		<div class="form-group">
			<input class="btn btn-success" type="submit" value="Save"/>
		</div>
	</form>
</div>