<div class="input-form-wrapper">
	{{#if errors}}
		<div class="alert alert-danger" role="alert">
			<ul>
				{{#each errors}}
					<li>{{this}}</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}
	<form action="{{baseUrl}}{{model.url}}" method="POST">
		{{#each model.fields }}
			{{#if this.model }}
				<label>
					{{this.display}}
					<select name="{{this.name}}">
						{{#each this.items}}
							<option value="{{this.id}}">{{this}}</option>
						{{/each}}
					</select>
				</label>		
			{{else}}
				<div class="form-group">
					<label>{{this.display}}
							<input type="{{this.type}}" name="{{this.name}}" {{#if ../presetData}} value="{{lookup ../presetData this.name}}" {{/if}}/>
					</label>
				</div>
			{{/if}}
		{{/each}}

		<input type="submit" value="Save"/>
	</form>
</div>