<form action="{{baseUrl}}{{model.url}}" method="POST">
	{{#each model.fields }}
		<div class="form-group">
			<label>{{this.display}}
					<input type="{{this.type}}" name="{{this.name}}" />
			</label>
		</div>
	{{/each}}
	<input type="submit" value="Save"/>
</form>