<p>Composed by <a href="{{baseUrl}}{{item.composer.url}}/{{item.composer.id}}">{{item.composer}}</a></p>
<h4>Movements</h4>
<ul class="list-group">
	{{#each item.movements}}
		<li class="list-group-item"><a href="{{../baseUrl}}{{this.url}}/{{this.id}}">{{this}}</a></li>
	{{/each}}
</ul>